16 FEB ASSIGNMENT

Q1. What is a database? Differentiate between SQL and NoSQL databases.

ANSWER== 
A database is an organized collection of structured information, or data, typically stored electronically in a computer system
SQL databases are vertically scalable, while NoSQL databases are horizontally scalable. SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores. SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ANSWER==Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. 
ALTER==The ALTER TABLE command adds, deletes, or modifies columns in a table.
The ALTER TABLE command also adds and deletes various constraints in a table.
DROP==The DROP TABLE command deletes a table in the database.
TRUNCATE==The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
CREAT==A copy of an existing table can also be created using CREATE TABLE.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ANSWER==
DML is an abbreviation for Data Manipulation Language. Data Manipulation Language or DML represents a collection of programming languages explicitly used to make changes in the database.
SELECT − Retrieve data from the database.
INSERT − Insert data into a table. 
UPDATE − Update existing data within a table.
DELETE − Delete records from a database table.

Q4. What is DQL? Explain SELECT with an example.

ANSWER==
DQL or data query language is to perform the query on the data inside the schema or object 
DQL COMMAND- SELECT command
The SELECT command is used to query or retrieve data from a table in the database. It is used to retrieve a subset of records from one or more tables.

Q5. Explain Primary Key and Foreign Key.

ANSWER==A primary key is a column or a set of columns in a table whose values uniquely identify a row in the table.
A foreign key is a column or a set of columns in a table whose values correspond to the values of the primary key in another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

ANSWER==To create a connection between the MySQL database and Python, the connect() method of mysql. connector module is used.
A cursor is a data access object that can be used to either iterate over the set of rows in a table or insert new rows into a table.
Python's built-in exec() function allows you to execute arbitrary Python code from a string or compiled code input

Q7. Give the order of execution of SQL clauses in an SQL query.

ANSWER==SQL queries adhere to a specific order when evaluating clauses, similar to how mathematical operations adhere to PEMDAS or BIDMAS.
From the eyes of the user, queries begin from the first clause and end at the last clause. However, queries aren’t actually read from top to bottom when carried out.